body {
    width: 400px;
    font-family: arial, sans-serif;
    font-size: 16px;
}

.list .stream-item:not(:first-of-type) {
    margin-top: 10px;
}

.stream-item__logo {
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
}

.stream-item__content {
    flex: 1 1 auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;            
    flex-flow: column nowrap;
    position: relative;
    min-width: 0; 
}

.stream-item__viewers {
    font-size: 0.9em;
    line-height: 1rem;
}

.stream-item__icon {
    width: 1rem;
    height: 1rem;
    margin: 0 2px -3px 0;
}

.stream-item {
    display: flex;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.stream-item__title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}