body {
    width: 400px;
    font-family: arial, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.settings {
    display: none;
}

.settings__form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.form__error {
    color: red;
    display: none;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFF;
}

.list .stream-item:not(:first-of-type) {
    margin-top: 5px;
}

.stream-item__logo {
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
}

.stream-item__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.stream-item__content {
    flex: 1 1 auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;            
    flex-flow: column nowrap;
    position: relative;
    min-width: 0; 
}

.stream-item__viewers {
    font-size: 0.9em;
    line-height: 1rem;
}

.stream-item__icon {
    width: 1rem;
    height: 1rem;
    margin: 0 2px -3px 0;
}

.stream-item {
    display: flex;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 5px;
}

.stream-item:hover {
    background-color: #F7F7F8;
}

.stream-item__title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}